<!DOCTYPE html>
<html>
<head>
    <title>模型</title>
    <meta charset="utf-8">
    <style type="text/css">
        :root {
            --text-color: #000000;
            --left-width: 200px;
        }

        * {
            padding: 0;
            margin: 0;
        }

        html, body {
            width: 100%;
            height: 100%;
        }

        #mode {
            width: var(--left-width);
            height: 100%;
            float: left;
            background: #ccc;
        }

        #cy {
            width: calc(100% - var(--left-width));
            height: 100%;
            float: right;
        }

    </style>

    <link rel="stylesheet" type="text/css" href="lib/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="lib/bootstrap-colorpicker.min.css">


</head>
<body>
<div id="mode">
    <ul id="menu">
        <li>
            <b>基本节点</b>
            <div>
                <a>
                    <img draggable="true" id="pc"
                         data="{name:'pc',shape:'123',width:'50',height:'',shape:'rectangle',bgColor:'#cccccc'}"
                         src="img/pc.png">
                </a>
                <p>电脑</p>
                <a>
                    <img draggable="true" id="router" data="{name:'router', shape:'vee',}" src="img/router.png">
                </a>
                <p>路由器</p>
            </div>
        </li>
        <li>
            <b>默认形状</b>
            <div>
                <a>
                    <img draggable="true" id="jx" data="{name:'jx'}" src="img/jx.png">
                </a>
                <br>
                <a>
                    <img draggable="true" id="yjjx" data="{name:'yjjx'}" src="img/yjjx.png">
                </a>
            </div>
        </li>
    </ul>
</div>
<div id="cy" ondragover="allowDrop(event)" ondrop="drop(event)"></div>

<div class="graph-editor__property" id="graphEditor">
    <form class="form-horizontal">
        <div class="class-group">
            <h4>Element</h4>
            <div class="form-group">
                <label class="col-sm-4 control-label font-small">名称</label>
                <div class="input-group input-group-sm col-sm-8">
                    <input class="form-control" name="node-name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label font-small">形状</label>
                <div class="input-group input-group-sm col-sm-8">
                    <select name="node-shape" id="node-shape" class="form-control">
                        <option value="rectangle">矩形</option>
                        <option value="roundrectangle">圆角矩形</option>
                        <option value="cutrectangle">正方形1</option>
                        <option value="square">正方形2</option>
                        <option value="polygon">正方形3</option>
                        <option value="ellipse">圆形</option>
                        <option value="triangle">三角形</option>
                        <option value="vee">内三角</option>
                        <option value="rhomboid">平行四边形</option>
                        <option value="diamond">菱形</option>
                        <option value="pentagon">正五边形</option>
                        <option value="star">五角星</option>
                        <option value="hexagon">正六边形</option>
                        <option value="heptagon">正七边形</option>
                        <option value="octagon">正八边形</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label font-small">背景色</label>
                <div class="input-group input-group-sm col-sm-8 colorpicker-element">
                    <input class="form-control" name="node-bgColor" type="color">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label font-small">宽</label>
                <div class="input-group input-group-sm col-sm-8">
                    <input class="form-control" type="number" name="node-width"></div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label font-small">高</label>
                <div class="input-group input-group-sm col-sm-8">
                    <input class="form-control" type="number" name="node-height"></div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label font-small">X坐标</label>
                <div class="input-group input-group-sm col-sm-8">
                    <input class="form-control" type="number" name="node-positionX">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label font-small">Y坐标</label>
                <div class="input-group input-group-sm col-sm-8">
                    <input class="form-control" type="number" name="node-positionY">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label font-small">旋转</label>
                <div class="input-group input-group-sm col-sm-8">
                    <input class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label font-small">边框宽度</label>
                <div class="input-group input-group-sm col-sm-8">
                    <input name="node-borderW" type="number" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label font-small">边框样式</label>
                <div class="input-group input-group-sm col-sm-8">
                    <select name="node-borderS" class="form-control" id="node-borderS">
                        <option value="dashed">虚线</option>
                        <option value="solid">实线</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label font-small">边框颜色</label>
                <div class="input-group input-group-sm col-sm-8 colorpicker-element">
                    <input class="form-control" type="color" name="node-borderC">
                </div>
            </div>
        </div>
        <div class="class-group">
            <h4>Text</h4>
            <div class="form-group">
                <label class="col-sm-4 control-label font-small">字体大小</label>
                <div class="input-group input-group-sm col-sm-8">
                    <input class="form-control" type="number" name="node-fontSize">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label font-small">文本颜色</label>
                <div class="input-group input-group-sm col-sm-8 colorpicker-element">
                    <input class="form-control" type="color" name="node-fontColor">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label font-small">字体位置</label>
                <div class="input-group input-group-sm col-sm-8">
                    <select name="node-textP" class="form-control" id="node-textP">
                        <option value="top">顶部</option>
                        <option value="bottom">底部</option>
                        <option value="center">居中</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>

<ul role="menu" id="dropdown-menu" class="dropdown-menu">
    <li role="presentation">
        <a role="menuitem" tabindex="-1" href="javascript:void(0)" name="line">连线</a>
    </li>
    <li role="presentation">
        <a role="menuitem" tabindex="-1" href="javascript:void(0)" name="group">分组</a>
    </li>
    <li role="presentation">
        <a role="menuitem" tabindex="-1" href="javascript:void(0)" name="delgroup">脱离分组</a>
    </li>
    <li role="presentation" class="divider"></li>
    <li role="presentation">
        <a role="menuitem" tabindex="-1" href="javascript:void(0)" name="top">置顶显示</a>
    </li>
    <li role="presentation">
        <a role="menuitem" tabindex="-1" href="javascript:void(0)" name="button">置底显示</a>
    </li>
    <li role="presentation">
        <a role="menuitem" tabindex="-1" href="javascript:void(0)" name="default">恢复默认层</a>
    </li>
    <li role="presentation" class="divider"></li>
    <li role="presentation">
        <a role="menuitem" tabindex="-1" href="javascript:void(0)" name="clear">清空画布</a>
    </li>
    <li role="presentation" class="divider"></li>
    <li role="presentation">
        <a role="menuitem" tabindex="-1" href="javascript:void(0)" name="">放大</a>
    </li>
    <li role="presentation">
        <a role="menuitem" tabindex="-1" href="javascript:void(0)" name="">缩小</a>
    </li>
    <li role="presentation">
        <a role="menuitem" tabindex="-1" href="javascript:void(0)" name="resize">1:1</a>
    </li>
    <li role="presentation" class="divider"></li>
    <li role="presentation">
        <a role="menuitem" tabindex="-1" href="javascript:void(0)" name="">多选模式</a>
    </li>
    <li role="presentation" class="divider"></li>
</ul>
<script type="text/javascript" src="lib/jquery.min.js"></script>
<script src="lib/cytoscape.min.js"></script>
<link rel="stylesheet" type="text/css" href="lib/jquery_ui/jquery-ui.min.css">
<script type="text/javascript" src="lib/jquery_ui/jquery-ui.min.js"></script>
<link rel="stylesheet" type="text/css" href="lib/editor/editor.css">
<script type="text/javascript" src="lib/editor/editor.js"></script>

<script type="text/javascript" src="index.js"></script>
<link rel="stylesheet" type="text/css" href="lib/spectrum/spectrum.css">
<script type="text/javascript" src="lib/spectrum/spectrum.js"></script>

<script type="text/javascript">
    $("#menu").accordion({
        collapsible: true,
        heightStyle: "content"
    });
    function allowDrop(ev) {
        ev.preventDefault();
    }
    var img = $("#mode img")
    for (var i = 0; i < img.length; i++) {
        img[i].ondragstart = function (ev) {
            var data = ev.target.getAttribute("data");
            ev.dataTransfer.setData("data", data);
        }
    }

</script>
</body>
</html>