<!DOCTYPE html>
<html>
<head>
    <title>Learning Cytoscape.js</title>
    <style type="text/css">
        /* cytoscape graph */
        #cy {
            height: 300px;
            width: 400px;
            background-color: #f9f9f9;
        }
    </style>
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/cytoscape/2.3.16/cytoscape.min.js"></script>
    <script>
        $(function() {
            cytoscape({
  container: document.getElementById('cy'),

  layout: {
    name: 'cose',
    padding: 10
  },

  style: cytoscape.stylesheet()
    .selector('node')
      .css({
        'shape': 'data(faveShape)',
        'width': 'mapData(weight, 40, 80, 20, 60)',
        'content': 'data(name)',
        'text-valign': 'center',
        'text-outline-width': 2,
        'text-outline-color': 'data(faveColor)',
        'background-color': 'data(bgColor)',
        'color': '#fff'
      })
   ,

  elements: {
    nodes: [
      { data: { id: 'g', name: 'Grge', weight: 70, bgColor:'#f00', faveColor: '#F5A45D', faveShape: 'octagon' } }
    ]
  },

  ready: function(){
    window.cy = this;
  }
});

        })
    </script>
</head>
<body>
    <div id="cy"></div>
</body>
</html>